---
---

@import "bootstrap";

html,
body {
  height: 100%;
  background-color: rgb(208,205,195);
}

p, li {
  font-size: 17px;
}

.site-wrapper {
  width: 100%;
  height: 100%;
}

.cover-image {
  min-height: 100%;
  width: 100%;
  background-image: url("/hive-ci/images/hiveci-landing-2.png");
  background-repeat: no-repeat;
}

.page-image {
  min-height: 100%;
  background-image: url("/hive-ci/images/hiveci-banner-2.png");
  background-repeat: no-repeat;
}

/*
 * Navbar
 */
.navbar {
  color: white;
  opacity: 0.8;
  margin-bottom: 0px;
}


/*
 * Topic headers
 */
.topic-highlight {
  margin-top: 50px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}


/*
 * Front banner
 */
.banner-highlight {
  padding: 20px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(75,75,75);
}

.banner-left {
  text-align: right;
  text-transform: uppercase;
  border-right: 5px;
  border-right-style: solid;
  border-right-color: rgb(255,255,255);
}

.banner-right {
  text-align: left;
}




.cover-row {
  margin-bottom: 100px;
}

.cover-list {
  list-style-type: square;
}

.cover-well {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  margin-top: 25px;
}

.cover-shaded {
  background-color: rgba(255, 255, 255, 0.5);
  border: black;
  padding-top: 50px;
  padding-bottom: 50px;
}


.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}
