<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="site-wrapper">
      
      <div class="cover-image">

        {% include navbar.html %}

      </div>

      <div class="row banner-highlight">
      
        <div class="col-md-5 col-sm-3 col-xs-6 banner-left">
          <h1>On-device CI</h1>
        </div>
        
        <div class="col-md-4 col-sm-3 col-xs-6 banner-right">
          <p class="lead">Run your tests on real devices<br /> without the pain</p>
        </div>
      </div>

    
      <div class="cover-content">
        {{ content }}
      </div>
      
    </div>
    
    {% include scripts.html %}

  </body>
</html>

