<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="site-wrapper page-image">
      
      {% include navbar.html %}
       
              
      <div class="row">
        
      <div class="page-content">
        {{ page.name }}
        <div class="col-xs-12 col-sm-2">
          <ul class="nav nav-pills nav-stacked nav-compact">
            {% for doc in site.documentation %}           
              {% unless doc.url contains 'test.html' %}
                <li role="presentation" data-role="collapsible" data-iconpos="right" data-inset="false">
                  <a href="/hive-ci{{ doc.url }}">{{ doc.title }}</a>
                  {% if doc.url contains 'running-your-test' %}
                    {% for docs in site.documentation %}
                      {% if docs.url contains 'test.html' %}
                        <li class="navbar-collapse"> <a href="/hive-ci{{ docs.url }}">{{ docs.title }} </a> </li>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        </div>
      
                        
        <div class="col-xs-12  col-sm-9">
        {{ content }}
        </div>
      </div>
      </div>
    
      {% include footer.html %}
      
    </div>
    
    
    {% include scripts.html %}
        
  </body>
</html>

