<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="site-wrapper page-image">
      
      <a id='top-of-page'></a>
      {% include navbar.html %}
       
              
      <div class="row">
        
      <div class="page-content">
        <div class="col-xs-12 col-sm-2">
          <ul class="nav nav-pills nav-stacked nav-compact">
            {% for doc in site.documentation %}           
              <li role="presentation">
                {% if doc.menu_level == 2 %}
                  <a href="/hive-ci{{ doc.url }}"> + {{ doc.title }}</a>
                {% else %}
                  <a href="/hive-ci{{ doc.url }}">{{ doc.title }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      
                        
        <div class="col-xs-12  col-sm-9">
        <h1>{{ page.title }}</h1>
        {{ content }}
        <p><a href='#top-of-page'>Top</a></p>
        </div>
      </div>
      </div>
    
      {% include footer.html %}
      
    </div>
    
    
    {% include scripts.html %}
        
  </body>
</html>

